<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>

    <div class="d-flex justify-content-between mb-3">
      <h2>Funcionários Internos</h2>
      <a class="btn btn-primary" href="/internos/new">Novo Funcionário Interno</a>
    </div>

    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Matrícula</th><th>Nome</th><th>CPF</th><th>Data Nasc.</th><th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="f : ${lista}">
          <td th:text="${f.matricula}">MATR</td>
          <td th:text="${f.funcionario.nome}">Nome</td>
          <td th:text="${f.funcionario.cpf}">CPF</td>
          <td th:text="${f.dataNascimento}">1980-01-01</td>
          <td>
            <a th:href="@{|/internos/${f.matricula}|}" class="btn btn-sm btn-info">Ver</a>
            <a th:href="@{|/internos/delete/${f.matricula}|}" class="btn btn-sm btn-danger"
               onclick="return confirm('Confirma exclusão?')">Excluir</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
